@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}
h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}
p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}
.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  background: #33cccc;
  color: white;
}
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}
.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}
body {
    background-color: #fafeff;
    font-family: 'Lato';
    text-align: center;
}

.btn-custom-primary {
    font-size: 20px;
    display: inline-block;
    border: 1px solid #33cccc;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px;
}
.btn-custom-primary:hover {
  background-color: #33cccc;
  color: white;
}

.custom-primary-text {
    color: #33cccc;
}

.navbar {
    background-color: #33cccc; /* blue header background */
    color: white; /* white text color */
}

.navbar-brand img {
    width: 150px; /* Adjust the logo width as needed */
}

.car-background {
    background-image: url('./DJI_0085.jpg');
}

select {
    height: auto !important;
}
/* Default (Desktop) */
body {
  font-size: 16px;
}

/* Mobile */
@media (max-width: 768px) {
  body {
      font-size: 14px;
  }

  #ai {
      width: 100%;
  }
}

